.colorbody {
    background-color: black;
}

/* NAV */

#logo {
    height: 150px;
    width: auto;
    border-radius: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
}

.nav{
    justify-content: space-around;
}


#botom {
    margin-bottom: 0px;
}

.nav a {
    font-size: 30px;
}

.nav #saitinhoso {
    text-decoration: none;
}
.nav #saitinhoso2 {
    text-decoration: none;
}
.nav #saitinhoso3 {
    text-decoration: none;
}
.nav #saitinhoso4 {
    text-decoration: none;
}


li {
    margin-top: 50px;
    list-style-type: none;
    font-family: 'Bungee Inline', cursive;
}

/* CONTEUDO PAGINA */

.conteudo1 {
    display: flex;
    margin-top: 30px;
}

.imgcont1 img{
    height: 255px;
}

.conteudo1txt {
    margin-right: 10px;
}

.conteudo1txt h2 {
    font-family: 'Bungee Inline', cursive;
}

.conteudo1txt p {
    font-family: 'Share Tech Mono', monospace;
}


.conteudo2 {
    display: flex;
    margin-top: 40px;
}

.imgcont2  img{
    height: 230px;
}

.conteudo2txt {
    margin-right: 10px;
}

.conteudo2txt h2 {
    font-family: 'Bungee Inline', cursive;
}

.conteudo2txt p {
    font-family: 'Share Tech Mono', monospace;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer img {
    height: 75px;
    border-radius: 50px;
}

.footer ul {
    display: flex;
}

#apo {
    text-decoration: none;
  }

.footer li {
    margin-left: 30px;
}

.marca{
    background-color: #673D85
}

.marca p {
    text-align: center;
    margin-bottom: 0px;
}

/* reset basico */

* {

    color: #D24CE7;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

}

@media (min-width: 1170px) {
    .container{
        max-width: 1170px;
        padding: 0;
    }
}


/* Linha */

.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    
    .row:after {
        clear: both;
    }


/* colunas */

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;

}


/* duas colunas */
@media(min-width: 480px){
    .col-2{
        width: 50%;
    }
}

.col-2{
    width: 50%;
}

/* três colunas */
@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

    /*side bar  */
@media(min-width: 992px){
    .col-content {
        width: 60%;
    }

    .col-sidebar {
        width: 40%;
    }
}


/* USAR APENAS PARA DEMONSTRAÇÂO */

.teste {

    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #D24CE7;
}

.big {
    height: 50px;

}

/* LETRAS NEON */

  .neon {
    /* neon2 */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #BA01FF; 
   }
    

  .neon:hover {
    -webkit-animation: neonx 1.5s ease-in-out infinite alternate;
    -moz-animation: neonx 1.5s ease-in-out infinite alternate;
    animation: neonx 1.5s ease-in-out infinite alternate;
  }
  
  .neon1 a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neonx {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow for mozilla*/
  
  @-moz-keyframes neonx {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow*/
  
  @keyframes neonxx {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*REEEEEEEEEEESPONSIVE*/

  /* RESPONSIVO NAV */

@media(max-width: 480px){

    .nav #logo {
        height: 60px;
    }

    .nav a {
        font-size: 10px;
        margin-right: 10px;
    }

    .nav li {
        display: flex;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: 22px;
        font-size: 10px;
        font-family: 'Bungee Inline', cursive;
    }

    #botom {
        margin-bottom: 0px;
    }
}

/* RESPONSIVO CAROUSEL */
@media(max-width: 480px){
    .titu {
        font-size: .995rem;
        color: black;
    }
    .infoe {
        font-size: .705rem;
        color: black;
    }
}

/* RESPONSIVO CONTEUDO */

@media(max-width: 480px){
    .conteudo1{
        display: inline-block;
    }
    
    #responsiveimg{
        height: 190px;
        margin-bottom: 20px;
    }

    .conteudo1txt {
        font-size: 12px;
    }

    .conteudo1txt h2 {
        font-size: 23px;
    }

    /*  */
    .conteudo2{
        display: inline-block;
    }
    
    #responsiveimg2{
        height: 170px;
        margin-bottom: 20px;
    }

    .conteudo2txt {
        font-size: 12px;
    }

    .conteudo2txt h2 {
        font-size: 23px;
    }
}


/* RESPONSIVO FOOTER */

@media(max-width: 480px){
    .footer #logofooter {
        height: 60px;
    }

    .footer ul li {
        margin-left: 5px;
        display: flex;
        margin-top: 22px;
        font-family: 'Bungee Inline', cursive;
        font-size: 10px;
    }
}

.carousel-item img{
        height: 500px;
    }
  