#red {
  background-image: url(../gif/have2.gif);
}

h1 {
  text-align: center;
  color: white;
  margin-top: 24%;
  margin-right: 80px;
  font-family: 'Bungee Inline', cursive;
  color: #D24CE7;
}